.custom-navbar {
  background-color: rgba(0, 0, 0, 1);
  font-weight: 600;
  transition: background-color 0.3s ease;
}

/* LOGO AJUSTADO */
.navbar-logo {
  height: 30px;
  width: auto;
  object-fit: contain;
  display: block;
}

.custom-navbar .navbar-brand {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 5px 0;
}

.custom-navbar .navbar-brand:hover {
  color: rgb(255, 221, 182);
  transition: color 0.3s ease;
}

/* LINKS */
.custom-navbar .nav-link {
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-size: 0.9rem;
  margin: 0 20px;
  position: relative;
  transition: color 0.25s ease-in-out;
}

.custom-navbar .nav-link:hover {
  color: rgb(255, 221, 182);
}

.custom-navbar .nav-link::before {
  content: "";
  display: block;
  height: 3px;
  background-color: rgb(255, 221, 182);
  position: absolute;
  top: 0;
  left: 0;
  width: 0%;
  transition: width 300ms ease-in-out;
}

.custom-navbar .nav-link:hover::before {
  width: 100%;
}

.custom-navbar .nav-link.active {
  color: rgb(255, 221, 182) !important;
}

.navbar-nav {
  align-items: center;
}

@media (max-width: 991px) {
  .navbar-collapse.collapse.show {
    display: block;
    position: relative;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(255, 221, 182)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E") !important;
  }
  .navbar-collapse.collapse {
    transition:
      height 0.3s ease,
      opacity 0.3s ease;
    overflow: hidden;
  }

  .navbar-collapse.collapse.show {
    height: auto;
    opacity: 1;
  }

  .navbar-collapse.collapsing {
    height: 0 !important;
    opacity: 0;
  }

  body {
    transition: padding-top 0.5s ease;
  }
}
